{% extends "includes/base.html" %}

{% load crispy_forms_filters %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-md-8">
        <h1 class="text-center">{{ object|yesno:"Update,Create" }} tags </h1>
        <form action="" method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <input type="submit" value="Submit" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
{% endblock %}
